@charset "UTF-8";
.card-foto {
  width: 100%;
  max-width: 50rem;
  height: 20.9rem;
  background-color: rgba(246, 244, 255, 0.877);
  border-radius: 8px;
  padding: 3.7rem 3.2rem 2.3rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-foto img {
  max-width: 55%;
}

.btn-primary {
  display: inline-block;
  background-color: white;
  padding: 2rem 8rem;
  border-radius: 10px;
}

.s-login {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.s-login .content-login {
  position: fixed;
  background-color: white;
  top: 88px;
  left: 524px;
  z-index: 2023;
  width: 40rem;
  height: 30rem;
  border-radius: 15px;
  transform: translateY(-30px);
  transition: all 0.3s;
}
.s-login .content-login.move {
  transform: translateY(30px);
}
.s-login .content-login .menu {
  padding-top: 4rem;
  padding-left: 1rem;
  position: relative;
}
.s-login .content-login .menu .close {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 50px;
  font-size: 2rem;
  cursor: pointer;
}
.s-login .content-login .menu form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-login .content-login .menu form h1 {
  padding-bottom: 2rem;
}
.s-login .content-login .menu form .login-email {
  width: 300px;
  height: 35px;
  border: 2px solid black;
  margin-bottom: 2rem;
}
.s-login .content-login .menu form .login-pass {
  width: 300px;
  height: 35px;
  border: 2px solid black;
  margin-bottom: 2rem;
}
.s-login .content-login .menu form .cadastro {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.s-login .content-login .menu form .cadastro strong {
  cursor: pointer;
}
.s-login .content-login .menu form button {
  height: 35px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.3s;
}
.s-login .content-login .menu form button:hover {
  background-color: gray;
  color: white;
}
.s-login .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2022;
}

.s-cadastro {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.s-cadastro .content-cadastro {
  position: fixed;
  background-color: white;
  top: 88px;
  left: 472px;
  z-index: 2023;
  width: 50rem;
  height: 40rem;
  border-radius: 15px;
  transform: translateY(-30px);
  transition: all 0.3s;
}
.s-cadastro .content-cadastro.move {
  transform: translateY(30px);
}
.s-cadastro .content-cadastro .menu {
  padding-top: 5rem;
  padding-left: 1rem;
  position: relative;
}
.s-cadastro .content-cadastro .menu .close {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 50px;
  font-size: 2rem;
  cursor: pointer;
}
.s-cadastro .content-cadastro .menu form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-cadastro .content-cadastro .menu form h1 {
  padding-bottom: 2rem;
}
.s-cadastro .content-cadastro .menu form .cad {
  width: 300px;
  height: 35px;
  border: 2px solid black;
  margin-bottom: 2rem;
}
.s-cadastro .content-cadastro .menu form .cadastro {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.s-cadastro .content-cadastro .menu form button {
  height: 35px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.3s;
}
.s-cadastro .content-cadastro .menu form button:hover {
  background-color: gray;
  color: white;
}
.s-cadastro .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2022;
}

.active {
  opacity: 1;
  pointer-events: all;
}

header {
  width: 100%;
  height: 8.8rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  color: white;
  background-color: rgb(138, 63, 138);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
header nav ul li {
  cursor: pointer;
  font-size: 1.8rem;
}
header .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
}

.s-hero {
  position: relative;
  width: 100%;
  height: 50rem;
  padding-top: 11.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(138, 63, 138);
  padding-top: 0;
}
.s-hero .left {
  margin-left: 10rem;
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
}
.s-hero .left h1 {
  margin-bottom: 2rem;
}
.s-hero .left button {
  max-width: 30rem;
  margin-left: 10rem;
}
.s-hero .area-image {
  position: relative;
  right: 63px;
  top: 48px;
  width: 100%;
  max-width: 61rem;
  height: 37rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.s-products {
  position: relative;
  width: 100%;
  height: 50rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(37, 37, 37, 0.616);
}
.s-products .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  color: white;
}
.s-products .top .btn-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.s-products .top .btn-div button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-size: 3rem;
  margin-right: 80px;
  border-radius: 10px;
}
.s-products .top .btn-div img {
  animation: moverElemento 2s ease-in-out infinite;
}
.s-products .top p {
  margin-top: 20px;
  font-size: 3rem;
}
.s-products .top img {
  width: 100%;
  max-width: 50px;
}
.s-products .top h1 {
  font-size: 4rem;
  color: white;
}

.s-produtos {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 100rem;
  height: 100rem;
  top: 70px;
  left: 250px;
  padding: 64px;
  border-radius: 20px;
  z-index: 2025;
  background-color: white;
  transform: translateY(-30px);
  transition: all 0.3s;
}
.s-produtos.move {
  transform: translateY(30px);
}
.s-produtos .close {
  display: none;
  font-size: 2rem;
  position: absolute;
  right: 0;
}
.s-produtos .conteudo {
  display: flex;
  align-items: center;
  height: 30rem;
  border-radius: 10px;
  border: 1px solid black;
}
.s-produtos .conteudo .area-image {
  margin: 0 50px;
  width: 165px;
}
.s-produtos .conteudo .texto {
  margin-left: 60px;
  max-width: 300px;
}
.s-produtos .conteudo .texto h3 {
  font-size: 3rem;
}
.s-produtos .conteudo .texto p {
  margin-top: 20px;
}
.s-produtos .conteudo .texto strong {
  display: block;
  margin-top: 10px;
  font-size: 2rem;
}
.s-produtos .conteudo button {
  padding: 20px;
  margin-left: 50px;
  border-radius: 10px;
  color: white;
  background-color: rgb(138, 63, 138);
}
.s-produtos .conteudo button:hover {
  background-color: rgb(192, 132, 192);
  color: rgb(8, 8, 8);
}

.carrinho {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 33rem;
  height: 33rem;
  background-color: white;
  z-index: 2026;
  right: 30px;
  top: 60px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  transform: translateY(-10px);
  transition: all 0.3s;
}
.carrinho.move {
  transform: translateY(10px);
}
.carrinho > button {
  margin-top: 20px;
  margin-left: 82px;
  padding: 10px;
  background-color: rgb(138, 63, 138);
  border-radius: 10px;
  color: white;
}
.carrinho .conteudo {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  gap: 80px;
}
.carrinho .conteudo .prod {
  display: flex;
  flex-direction: column;
}
.carrinho .conteudo .qtd {
  display: flex;
  gap: 20px;
}
.carrinho .conteudo .qtd > button {
  padding: 0 4px;
}
.carrinho .conteudo .qtd button {
  font-size: 21px;
  border: 1px solid black;
}
.carrinho .conteudo .qtd form {
  width: 50px;
}
.carrinho .conteudo .qtd form input {
  width: 50px;
  height: 30px;
  background-color: rgb(228, 228, 228);
}

.active {
  opacity: 1;
  pointer-events: all;
}

@keyframes moverElemento {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}
footer {
  padding: 4.8rem;
  background-color: rgb(138, 63, 138);
}
footer .main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  padding-bottom: 6.6rem;
  margin-bottom: 2.4rem;
}
footer .main .left {
  max-width: 27.9rem;
}
footer .main .left p {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 150%; /* 2.4rem */
  letter-spacing: -0.048rem;
  color: white;
}
footer .main .right {
  flex-grow: 1;
  max-width: 79.2rem;
  display: flex;
  justify-content: center;
  gap: 100px;
}
footer .main .right .nav h6 {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.048rem;
  margin-bottom: 3.2rem;
}
footer .main .right .nav ul li:not(:last-child) {
  margin-bottom: 3.2rem;
}
footer .main .right .nav ul li a {
  color: white;
  font-size: 1.6rem;
  letter-spacing: -0.048rem;
  transition: color 0.3s ease;
  display: flex;
  gap: 1.8rem;
  align-items: center;
}
footer .main .right .nav ul li a:hover {
  color: white;
}
footer span {
  color: white;
  letter-spacing: -0.048rem;
}
footer span strong {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .s-hero .left {
    right: -52px;
  }
  .s-hero .area-image {
    max-width: 40rem;
  }
  .s-products .img-produtos {
    max-width: 90rem;
  }
  .s-login .content-login {
    left: 506px;
  }
}
/* Até Tablet */
@media (max-width: 991px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .s-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
  }
  .s-hero .left {
    display: flex;
    align-items: flex-start;
    margin-right: 15rem;
    margin-left: 15rem;
    max-width: 40rem;
  }
  .s-hero .left h1 {
    margin-left: 8rem;
  }
  .s-hero .area-image {
    margin-left: 10rem;
    max-width: 40rem;
  }
  .s-products .top h1 {
    font-size: 3rem;
  }
  .s-products .img-produtos {
    max-width: 70rem;
  }
  footer .main {
    flex-direction: column;
    gap: 4rem;
  }
  footer .main .left {
    max-width: 100%;
    text-align: center;
  }
  footer .main .left img {
    margin: 0 auto;
  }
  footer .main .right {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  header nav {
    display: none;
  }
  .s-hero {
    display: flex;
    flex-direction: column;
  }
  .s-hero .left {
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 9rem;
  }
  .s-hero .left button {
    margin-left: 0rem;
  }
  .s-hero .area-image {
    max-width: 40rem;
    margin-bottom: 10rem;
    margin-left: 12rem;
  }
}
/* Até Celulares */
@media (max-width: 560px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .s-hero {
    display: flex;
    flex-direction: column;
  }
  .s-hero .left {
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 0;
  }
  .s-hero .left h1 {
    text-align: center;
    margin-left: 0;
  }
  .s-hero .area-image {
    max-width: 40rem;
    right: 60px;
    margin-bottom: 60px;
  }
  .s-products {
    height: 54rem;
  }
  .s-products .top h1 {
    text-align: center;
    font-size: 2.1rem;
  }
  .s-products .img-produtos {
    max-width: 36rem;
  }
  .s-login .content-login {
    top: 142px;
    left: 19px;
    width: 34rem;
    height: 30rem;
  }
  .s-cadastro .content-cadastro {
    top: 142px;
    left: 16px;
    width: 34rem;
    height: 38rem;
  }
  .s-produtos {
    left: 0;
    padding: 17px;
    height: 115rem;
  }
  .s-produtos .close {
    display: contents;
  }
  .s-produtos .close span {
    margin-left: 320px;
  }
  .s-produtos .conteudo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35rem;
  }
  .s-produtos .conteudo .texto {
    margin: 0;
    margin-top: 20px;
  }
  .s-produtos .conteudo .area-image {
    width: 100px;
  }
  .s-produtos .conteudo button {
    margin: 0;
    margin-top: 20px;
  }
  .carrinho {
    right: 20px;
  }
  footer .main .right {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }
  footer .main .right .nav h6 {
    text-align: center;
  }
  footer .main .right .nav ul li a {
    justify-content: center;
  }
  footer .main .right .nav:last-child {
    width: 100%;
  }
  footer .main .right .nav:last-child ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 1rem;
  }
  footer .main .right .nav:last-child ul li:not(:last-child) {
    margin-bottom: 0;
  }
  footer .main {
    padding-bottom: 4.8rem;
  }
  footer span {
    text-align: center;
    font-size: 1.4rem;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  max-width: 124.6rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}/*# sourceMappingURL=main.css.map */